{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!-- header body -->
	<div class="overflow-hidden py-9 py-xl-10 position-relative">
	   	<img src="{% static 'assets/img/bg/bg1.jpg' %}" class="position-absolute z-n1 top-0 h-100 w-100 object-fit-cover" alt="Meeting">

	   	<div class="position-absolute z-n1 top-0 h-100 w-100 bg-dark"
	        style="opacity: 0.85; mix-blend-mode: multiply; filter: contrast(1.15) brightness(0.85);">
	    </div>

	    <div class="position-absolute z-0 top-0 h-100 w-100">
		    <div class="container h-100 d-flex align-items-center">
                <div class="max-w-2xl mx-auto mx-xl-0 text-center text-xl-start">
                    <h1 class="m-0 mt-7 text-white tracking-tight text-6xl fw-bold" data-aos-delay="0" data-aos="fade" data-aos-duration="3000">
                        Blog post
                    </h1>
                    <p class="m-0 mt-4 text-white text-lg leading-8" data-aos-delay="100" data-aos="fade" data-aos-duration="3000">
                        Learn how to grow your business with our expert advice.
                    </p>
                </div>
		    </div>
	    </div>
	</div>	



	<div class="overflow-hidden py-6 py-sm-7 py-xl-8">
    	<div class="container">
        	<div class="row gy-5 gx-xl-5 justify-content-between">
            	<div class="col-12 col-xl-8">
                	<div class="max-w-3xl mx-auto mx-xl-0 mt-4">
                    	<!-- Back to Blog -->
                    	<a class="icon-link link-primary-emphasis icon-link-hover text-decoration-none"
                       	href="{% url 'blog' %}"
                       	style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);">
                        	<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             	class="bi fs-1 bi-arrow-left-short rtl-flip" viewBox="0 0 16 16">
                            	<path fill-rule="evenodd"
                                  	d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                        	</svg>
                        	<span class="fw-bold">
                            	Back to Blog
                        	</span>
                    	</a>

                    	<!-- Post Title -->
                    	<h2 class="my-4 text-body-emphasis text-4xl tracking-tight fw-bold">
                        	{{ post.title }}
                    	</h2>

                    	<!-- Author & Date -->
                    	<div class="d-flex justify-content-between align-items-center flex-wrap">
                        	<div class="mt-4 position-relative d-flex align-items-center column-gap-3">
                            	{% if post.author.photo %}
                                	<img src="{{ post.author.photo.url }}" height="40" width="40"
                                     	class="img-fluid rounded-circle" alt="{{ post.author.name }}" loading="lazy">
                            	{% endif %}

                            		<div class="text-sm leading-6">
		                                <p class="m-0 fw-semibold">
		                                    <a href="{% url 'author' slug=post.author.slug %}" class="text-body-emphasis text-decoration-none">
		                                        {{ post.author.name }}
		                                    </a>
		                                </p>
		                            </div>

                            	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 	class="bi bi-dot text-body-tertiary" viewBox="0 0 16 16">
                                	<path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            	</svg>

                            	<small class="ps-1 text-body-tertiary text-xs fw-medium">
                                	{{ post.published_date|date:"F j, Y" }}
                            	</small>
                        	</div>

                        	<!-- Social Icons -->
                        	<div class="mt-2">
                            	<a href="javascript:;" class="btn bg-body-tertiary bg-body-secondary-hover social my-2">
                                	<span class="d-flex justify-content-center align-items-center">
                                    	<!-- X Icon SVG -->
                                    	<svg width="16" height="16" fill="currentColor" viewBox="0 0 24 24"
                                         	aria-hidden="true">
                                        	<g>
                                            	<path
                                                	d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path>
                                        	</g>
                                    	</svg>
                                	</span>
                            	</a>

                            	<a href="javascript:;" class="btn bg-body-tertiary bg-body-secondary-hover social my-2">
                                	<span class="d-flex justify-content-center align-items-center">
                                    	<!-- Instagram Icon SVG -->
                                    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         	fill="currentColor" viewBox="0 0 16 16">
                                        	<path
                                            	d="M8 0C5.829 0 5.556.01 4.703.048 ..."/>
                                    	</svg>
                                	</span>
                            	</a>

                            	<a href="javascript:;" class="btn bg-body-tertiary bg-body-secondary-hover social my-2">
                                	<span class="d-flex justify-content-center align-items-center">
                                    	<!-- Facebook Icon SVG -->
                                    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         	fill="currentColor" viewBox="0 0 320 512">
                                        	<path
                                            	d="M279.14 288l14.22-92.66h-88.91v-60.13..."/>
                                    	</svg>
                                	</span>
                            	</a>

                            	<a href="javascript:;" class="btn bg-body-tertiary bg-body-secondary-hover social my-2">
                                	<span class="d-flex justify-content-center align-items-center">
                                    	<!-- LinkedIn Icon SVG -->
                                    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         	fill="currentColor" viewBox="0 0 448 512">
                                        	<path
                                           	 d="M100.28 448H7.4V148.9h92.88zM53.79..."/>
                                    	</svg>
                                	</span>
                            	</a>
                        	</div>
                    	</div>

                    	<!-- Main Image -->
                    	<div class="mt-5">
                        	<div class="ratio ratio-16x9" data-aos-delay="0" data-aos="fade" data-aos-duration="3000">
                            	<img src="{{ post.image.url }}" class="object-fit-cover rounded-3"
                                 	alt="{{ post.title }}" loading="lazy">
                        	</div>
                    	</div>

                    	<!-- Post Content -->
                    	<div class="mt-4 text-body-secondary text-lg leading-8">
                        	{{ post.content|safe }}
                    	</div>

						<div class="tags-container mt-4">
  							{% for tag in post.tags.all %}
    							<a href="{% url 'tagged_posts' tag.slug %}" class="tag-item">{{ tag.name }}</a>
  							{% empty %}
    							<span class="no-tags">No tags</span>
  							{% endfor %}
						</div>

                	</div>
            	</div>

				<!-- side bar -->
				<div class="col-12 col-xl-4">
					<div class="max-w-xl mx-auto mx-xl-0 pt-5 pt-xl-0">
						<div class="mt-5">
							<div class="p-4 shadow rounded-3 bg-body-tertiary">
								<h3 class="text-body-emphasis text-2xl tracking-tight fw-semibold">
            						Latest Posts
        						</h3>

        						<hr class="text-body-emphasis opacity-10">

        						{% for item in latest_posts %}
        						<a href="{% url 'post_detail' item.slug %}" class="d-flex align-items-center mt-4 text-body link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-25-hover">
            						<div class="p-5 position-relative">
                						<img src="{{ item.image.url }}" class="position-absolute top-0 start-0 h-100 w-100 object-fit-cover rounded" loading="lazy" alt="{{ item.title }}">
            						</div>
            						<div class="ps-3">
                						<time datetime="{{ item.published_date|date:'Y-m-d' }}" class="d-block text-body-tertiary">
                    						{{ item.published_date|date:"M d, Y" }}
                						</time>
                						<h6 class="m-0 mt-3 text-body-secondary line-clamp-2 text-sm leading-6">
                    						{{ item.title }}
                						</h6>
            						</div>
        						</a>
        						{% endfor %}
							</div>
						</div>

						<div class="mt-5">
							<div class="p-4 shadow rounded-3 bg-body-tertiary">
								<h3 class="text-body-emphasis text-2xl tracking-tight fw-semibold">
									Categories
								</h3>

								<hr class="text-body-secondary opacity-10">

								<ul class="ps-3 text-body-secondary">
    								{% for category in categories %}
    								<li class="mt-2">
        								<a href="{% url 'category' category.slug %}"
           								class="text-body-secondary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-25-hover text-sm leading-6">
            								{{ category.name }}
        								</a>
    								</li>
    								{% endfor %}
								</ul>
							</div>
						</div>

						<div class="mt-5">
							<div class="p-4 shadow rounded-3 bg-body-tertiary">
								<h3 class="text-body-emphasis text-2xl tracking-tight fw-semibold">
									Popular Tags
								</h3>
								<hr class="text-body-emphasis opacity-10">

								<div class="d-flex flex-wrap gap-3">
    								{% for tag in tags %}
        								<a href="{% url 'tagged_posts' tag.slug %}"
           								class="btn text-body-tertiary border bg-body-secondary-hover text-sm fw-semibold">
            								{{ tag.name }}
        								</a>
    								{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="my-5">
	<div class="nav-fixed-wrapper">
  	{% if previous_post %}
  	<a href="{% url 'post_detail' previous_post.slug %}" class="prev-fixed">
    	<img src="{% static 'assets/img/bg/prev.png' %}" alt="Previous">
    	<span>{{ previous_post.title }}</span>
  	</a>
  	{% endif %}

  	{% if next_post %}
  	<a href="{% url 'post_detail' next_post.slug %}" class="next-fixed">
    	<span>{{ next_post.title }}</span>
    	<img src="{% static 'assets/img/bg/next.png' %}" alt="Next">
  	</a>
  	{% endif %}
	</div>


{% endblock %}
{% block diffrence_way %}
	<div class="pb-9 pt-7">
		<div class="container">
			<div class="py-6 position-relative text-white rounded-3">
				<img src="{% static 'assets/img/bg/bg10.jpg' %}" class="position-absolute z-n1 top-0 h-100 w-100 object-fit-cover rounded-3" loading="lazy" alt="Meeting">

		   		<div class="position-absolute z-n1 top-0 h-100 w-100 bg-dark rounded-3"
		        	style="opacity: 0.85; mix-blend-mode: multiply; filter: contrast(1.15) brightness(0.85);">
		    	</div>

				<div class="px-6">
					<div class="mx-auto max-w-2xl">
						<h2 class="m-0 tracking-tight text-4xl fw-bold text-center">
							Reclaim Your Time. Experience Fresh.
						</h2>
						<p class="m-0 mt-4 text-lg leading-8 text-center">
							Let us handle your laundry, so you can focus on what matters.
						</p>
						<div class="mt-4 pt-3 text-center">
							<a href="javascript:;" class="btn btn-lg btn-primary text-white text-sm fw-semibold" data-bs-toggle="modal" data-bs-target="#pickupModal">
    							Schedule Your Pickup
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="pickupModal" tabindex="-1" aria-labelledby="pickupModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="pickupModalLabel">Schedule Your Pickup</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post" action="{{ request.path }}">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" name="schedule_submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			</div>
		</div>
	</div>
{% endblock %}