{% extends 'base.html' %}
{% load static %}
    {% block content %}
	<!-- header body -->
	<div class="overflow-hidden position-relative">
	   <img src="{% static 'assets/img/bg/bg1.jpg' %}" class="position-absolute z-n1 top-0 h-100 w-100 object-fit-cover" alt="Meeting">

	   <div class="overlay position-absolute z-n1 top-0 h-100 w-100 bg-dark"
	        style="opacity: 0.85; mix-blend-mode: multiply; filter: contrast(1.15) brightness(0.85);">
	    </div>

	    <div class="container">
	        <div class="min-vh-100 row align-items-center">
	        	<div class="col-12 col-xl-8">
		            <div class="pt-9 pt-md-10 pt-xl-11 pb-7 pb-md-8 pb-xl-9 max-w-2xl mx-auto mx-xl-0">
		                <div class="mt-4 pt-2">
		                    <div class="text-center text-xl-start">
		                        <h1 class="m-0 text-white tracking-tight text-6xl fw-bold" data-aos-delay="0" data-aos="fade" data-aos-duration="3000">
		                            Experience Ultimate Cleanliness
		                        </h1>
		                        <p class="m-0 mt-4 text-white text-lg leading-8" data-aos-delay="100" data-aos="fade" data-aos-duration="3000">
		                            No more worries about laundry! Let our professional crew at Freshen Laundry Service take the task off your hands.
		                        </p>
		                        <div class="mt-4 pt-3 d-flex align-items-center justify-content-center justify-content-xl-start column-gap-3">
		                            <a href="{% url 'contact' %}" class="btn btn-lg btn-primary text-white text-sm fw-semibold" data-aos-delay="200" data-aos="fade" data-aos-duration="3000">
		                                Contact us
		                            </a>
		                            <a href="{% url 'about' %}" class="btn btn-lg text-white icon-link icon-link-hover bg-secondary-hover text-sm leading-6 fw-semibold" data-aos-delay="300" data-aos="fade" data-aos-duration="3000">
		                                Learn more 
		                                <span class="bi align-self-start left-to-right" aria-hidden="true">→</span>
		                                <span class="bi align-self-start right-to-left" aria-hidden="true">←</span>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>
	            </div>

	            <div class="col-12 col-xl-4">
	            	<div class="pt-3 pt-md-4 pt-xl-12 pb-2 pb-md-3 pb-xl-6">
	            		<!-- Button trigger modal -->
						<a class="video-play-button video-btn-modal position-relative" href="javascript:;"
   							data-bs-toggle="modal" data-bs-target="#videoModal"
   							data-bs-src="https://www.youtube.com/embed/4vCUStWGp1I">
   							<span class="top-50 start-50 translate-middle"></span>
						</a>
	            	</div>
	            </div>
	        </div>
	    </div>
	</div> 



	<!-- Modal to embed vidoes!! -->
	<div class="modal fade" id="videoModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content border-0" style="border-radius: 0.75rem;">
				<div class="modal-header border-0 p-0">
					<button type="button" class="btn-close bg-white border position-absolute top-0 end-0 translate-middle me-n3 me-sm-n5 mt-n4 rounded-circle p-2" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="ratio ratio-16x9">
						<iframe class="embed-responsive-item iframeVideo" style="border-radius: 0.75rem;" allow="autoplay"></iframe>
					</div>
				</div>
				
			</div>
		</div>
	</div>



	<!-- services -->
	<div class="overflow-hidden py-7 py-sm-8 py-xl-9 bg-body-tertiary">
	    <div class="container">
	        <div>
	            <div class="mx-auto max-w-2xl text-center">
					<h2 class="m-0 text-primary-emphasis text-base leading-7 fw-semibold">
						Our services
					</h2>
	                <p class="m-0 mt-2 text-body-emphasis text-4xl tracking-tight fw-bold">
	                    Convenient Laundry Services in NYC
	                </p>
	                <p class="m-0 mt-4 text-body text-lg leading-8">
	                    Experience the power of eco-friendly laundry with our premium detergents
	                </p>
	            </div>
	        </div>
	        <div>
	            <div class="row row-cols-1 row-cols-xl-3 gy-5 gx-xl-4 mt-1 justify-content-center justify-content-xl-between">
	                <div class="col pt-5 pt-xl-4">
	                    <div class="max-w-xl mx-auto mx-xl-0" data-aos-delay="0" data-aos="fade" data-aos-duration="1000">
                        	<div class="ratio" style="--bs-aspect-ratio: 66.66%;">
                                <img src="{% static 'assets/img/bg/bg2.jpg' %}" class="object-fit-cover rounded-3" alt="Service image" loading="lazy">
                            </div>

                            <h3 class="m-0 mt-4 text-body-emphasis text-lg leading-6 fw-semibold">
                                Eco-Friendly Dry Cleaning
                            </h3>

                            <!-- Remove line-clamp-2 if you need more lines or add line-clamp-3 -->
                            <p class="m-0 mt-3 text-body-secondary line-clamp-2 text-sm leading-6">
                                Safely clean your delicate garments with our eco-friendly dry cleaning services, leaving them fresh and free from harsh chemicals.
                            </p>
	                    </div>
	                </div>
      				
      				<div class="col pt-5 pt-xl-4">
	                    <div class="max-w-xl mx-auto mx-xl-0" data-aos-delay="100" data-aos="fade" data-aos-duration="1000">
                        	<div class="ratio" style="--bs-aspect-ratio: 66.66%;">
                                <img src="{% static 'assets/img/bg/bg3.jpg' %}" class="object-fit-cover rounded-3" alt="Service image" loading="lazy">
                            </div>

                            <h3 class="m-0 mt-4 text-body-emphasis text-lg leading-6 fw-semibold">
                                Wash & Fold Service
                            </h3>

                            <!-- Remove line-clamp-2 if you need more lines or add line-clamp-3 -->
                            <p class="m-0 mt-3 text-body-secondary line-clamp-2 text-sm leading-6">
                                Save time by letting us handle your laundry needs with our efficient wash & fold service, ensuring your clothes are clean and neatly folded.
                            </p>
	                    </div>
	                </div>

	                <div class="col pt-5 pt-xl-4">
	                    <div class="max-w-xl mx-auto mx-xl-0" data-aos-delay="200" data-aos="fade" data-aos-duration="1000">
                        	<div class="ratio" style="--bs-aspect-ratio: 66.66%;">
                                <img src="{% static 'assets/img/bg/bg4.jpg' %}" class="object-fit-cover rounded-3" alt="Service image" loading="lazy">
                            </div>

                            <h3 class="m-0 mt-4 text-body-emphasis text-lg leading-6 fw-semibold">
                                Same-Day Pickup & Delivery
                            </h3>

                            <!-- Remove line-clamp-2 if you need more lines or add line-clamp-3 -->
                            <p class="m-0 mt-3 text-body-secondary line-clamp-2 text-sm leading-6">
                                Forget about waiting – our same-day pickup and delivery service ensures your laundry is promptly picked up, cleaned, and returned to you on time.
                            </p>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="text-center pt-7">
	            <a href="javascript:;" class="btn btn-lg btn-primary text-white icon-link icon-link-hover text-sm leading-6 fw-semibold">
                    Learn more 
                    <span class="bi align-self-start left-to-right" aria-hidden="true">→</span>
                    <span class="bi align-self-start right-to-left" aria-hidden="true">←</span>
                </a>
	        </div>
	    </div>      
	</div>	



	<!-- About Us -->
	<div class="overflow-hidden py-7 py-sm-8 py-xl-9">
		<div class="container">
			<div class="row gy-5 align-items-center justify-content-between">
				<div class="col-12 col-xl-5 order-last">
					<div class="mx-auto max-w-2xl">
						<h2 class="m-0 text-primary-emphasis text-base leading-7 fw-semibold">
							About Us
						</h2>
						<p class="m-0 mt-2 text-body-emphasis text-4xl tracking-tight fw-bold">
							Making laundry a breeze, one clean garment at a time.
						</p>
						<p class="m-0 mt-4 text-body-secondary text-lg leading-8">
							Welcome to Freshen, your premier laundry service in New York, NY. We are dedicated to providing top-quality, convenient, and affordable laundry solutions to our valued customers.
						</p>
						<div class="mt-4">
							<a href="{% url 'about' %}" class="icon-link icon-link-hover text-decoration-none text-sm leading-6 fw-bold">
			                    Learn more 
			                    <span class="bi align-self-start left-to-right" aria-hidden="true">→</span>
			                    <span class="bi align-self-start right-to-left" aria-hidden="true">←</span>
			                </a>
						</div>
					</div>
				</div>

				<div class="col-12 col-xl-6">
					<div class="mx-auto max-w-2xl">
                        <div class="ratio ratio-4x3" data-aos-delay="0" data-aos="fade" data-aos-duration="3000">
                            <img src="{% static 'assets/img/bg/bg5.jpg' %}" class="object-fit-cover rounded-3" alt="about us" loading="lazy">
                        </div>
					</div>
				</div>
			</div>

			<!-- big image -->
		    <div class="ratio ratio-16x9 mt-7 mt-sm-8 mt-xl-9">
                <img src="{% static 'assets/img/bg/bg6.jpg' %}" class="object-fit-cover rounded-3" alt="presentation" loading="lazy">
            </div>
		</div>
	</div>

	<!-- End of Testimonials -->
	{% endblock %}
	{% block diffrence_way %}
	<!-- Contact us -->
	<div class="container my-5" style="background: white; padding: 2rem; border-radius: 8px;">
  	<div id="disqus_thread"></div>
	</div>
		<script>
		/*
		var disqus_config = function () {
			this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
    		s.src = 'https://https-laundrywebsite-production-up-railway-app-2.disqus.com/embed.js';
    		s.setAttribute('data-timestamp', +new Date());
    		(d.head || d.body).appendChild(s);
		})();
		</script>
	</div>
	<script id="dsq-count-scr" src="//https-laundrywebsite-production-up-railway-app-2.disqus.com/count.js" async></script>
	{% endblock %}