{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- header body -->
	<div class="overflow-hidden py-9 py-xl-10 position-relative">
	   	<img src="{% static 'assets/img/bg/bg1.jpg' %}" class="position-absolute z-n1 top-0 h-100 w-100 object-fit-cover" alt="Meeting">

	   	<div class="position-absolute z-n1 top-0 h-100 w-100 bg-dark"
	        style="opacity: 0.85; mix-blend-mode: multiply; filter: contrast(1.15) brightness(0.85);">
	    </div>

	    <div class="position-absolute z-0 top-0 h-100 w-100">
		    <div class="container h-100 d-flex align-items-center">
                <div class="max-w-2xl mx-auto mx-xl-0 text-center text-xl-start">
                    <h1 class="m-0 mt-7 text-white tracking-tight text-6xl fw-bold" data-aos-delay="0" data-aos="fade" data-aos-duration="3000">
                        Our services
                    </h1>
                    <p class="m-0 mt-4 text-white text-lg leading-8" data-aos-delay="100" data-aos="fade" data-aos-duration="3000">
                        Discover laundry solutions that fit your busy life.
                    </p>
                </div>
		    </div>
	    </div>
	</div>	



	<!-- Why us -->
	<div class="overflow-hidden py-7 py-sm-8 py-xl-9">
		<div class="container">
			<div class="row gy-5 align-items-center justify-content-between">
				<div class="col-12 col-xl-5 order-first order-xl-last">
					<div class="mx-auto max-w-2xl">
						<h2 class="m-0 text-primary-emphasis text-base leading-7 fw-semibold">
							Why Choose Us
						</h2>
						<p class="m-0 mt-2 text-body-emphasis text-4xl tracking-tight fw-bold">
							Experience the power of eco-friendly laundry with our premium detergents
						</p>
						<p class="m-0 mt-4 text-body-secondary text-lg leading-8">
							At Laundry Service, we prioritize the environment by using eco-friendly practices and high-quality detergents. Our commitment to sustainability ensures that your clothes are cleaned effectively while minimizing our impact on the planet.
						</p>
					</div>
				</div>

				<div class="col-12 col-xl-6">
					<div class="mx-auto max-w-2xl">
                        <div class="ratio ratio-4x3" data-aos-delay="200" data-aos="fade" data-aos-duration="3000">
                            <img src="{% static 'assets/img/bg/bg9.jpg' %}" class="object-fit-cover rounded-3" alt="presentation">
                        </div>
					</div>
				</div>
			</div>		
		</div>
	</div>



	<!-- Service 1 -->
	<div class="overflow-hidden py-7 py-sm-8 py-xl-9">
		<div class="container">
			<div class="row gy-5 align-items-center justify-content-between">
				<div class="col-12 col-xl-5">
					<div class="mx-auto max-w-2xl">
						<h2 class="m-0 text-primary-emphasis text-base leading-7 fw-semibold">
							Service 1
						</h2>
						<p class="m-0 mt-2 text-body-emphasis text-4xl tracking-tight fw-bold">
							Eco-Friendly Dry Cleaning
						</p>
						<p class="m-0 mt-4 text-body-secondary text-lg leading-8">
							Indulge your delicates in a spa day! Our eco-friendly dry cleaning services safely clean your finest garments, leaving them fresh, free from harsh chemicals, and looking their absolute best. Breathe easy knowing you're caring for your clothes and the planet.
						</p>
					</div>
				</div>

				<div class="col-12 col-xl-6">
					<div class="mx-auto max-w-2xl">
                        <div class="ratio ratio-4x3" data-aos-delay="0" data-aos="fade" data-aos-duration="3000">
                            <img src="{% static 'assets/img/bg/bg2.jpg' %}" class="object-fit-cover rounded-3" alt="presentation" loading="lazy">
                        </div>
					</div>
				</div>
			</div>		
		</div>
	</div>



	<!-- Service 2 -->
	<div class="overflow-hidden py-7 py-sm-8 py-xl-9 bg-body-tertiary">
		<div class="container">
			<div class="row gy-5 align-items-center justify-content-between">
				<div class="col-12 col-xl-5 order-first order-xl-last">
					<div class="mx-auto max-w-2xl">
						<h2 class="m-0 text-primary-emphasis text-base leading-7 fw-semibold">
							Service 2
						</h2>
						<p class="m-0 mt-2 text-body-emphasis text-4xl tracking-tight fw-bold">
							Wash & Fold Service
						</p>
						<p class="m-0 mt-4 text-body text-lg leading-8">
							Don't settle for just clean clothes. Our expert wash & fold service combines efficiency with meticulous care. We use gentle yet effective cleaning methods to ensure your clothes are not only clean, but also neatly folded and ready to wear with confidence.
						</p>
					</div>
				</div>

				<div class="col-12 col-xl-6">
					<div class="mx-auto max-w-2xl">
                        <div class="ratio ratio-4x3" data-aos-delay="0" data-aos="fade" data-aos-duration="3000">
                            <img src="{% static 'assets/img/bg/bg3.jpg' %}" class="object-fit-cover rounded-3" alt="presentation" loading="lazy">
                        </div>
					</div>
				</div>
			</div>		
		</div>
	</div>



	<!-- Service 3 -->
	<div class="overflow-hidden py-7 py-sm-8 py-xl-9">
		<div class="container">
			<div class="row gy-5 align-items-center justify-content-between">
				<div class="col-12 col-xl-5">
					<div class="mx-auto max-w-2xl">
						<h2 class="m-0 text-primary-emphasis text-base leading-7 fw-semibold">
							Service 3
						</h2>
						<p class="m-0 mt-2 text-body-emphasis text-4xl tracking-tight fw-bold">
							Same-Day Pickup & Delivery
						</p>
						<p class="m-0 mt-4 text-body-secondary text-lg leading-8">
							Experience laundry like never before! Our premium same-day pickup and delivery service is designed to take the hassle out of laundry. We'll conveniently pick up your clothes at a time that works for you, expertly clean them using the latest technology, and then deliver them back to you fresh and folded, all within the same day.
						</p>
					</div>
				</div>

				<div class="col-12 col-xl-6">
					<div class="mx-auto max-w-2xl">
                        <div class="ratio ratio-4x3" data-aos-delay="0" data-aos="fade" data-aos-duration="3000">
                            <img src="{% static 'assets/img/bg/bg4.jpg' %}" class="object-fit-cover rounded-3" alt="presentation" loading="lazy">
                        </div>
					</div>
				</div>
			</div>		
		</div>
	</div>



	<!-- big centered image -->
	<div class="overflow-hidden py-7 py-sm-8 py-xl-9 d-none d-xl-block">
		<div class="container">
			<div class="ratio ratio-16x9">
		        <img src="{% static 'assets/img/bg/bg7.jpg' %}" class="object-fit-cover rounded-3" alt="presentation" loading="lazy">
		    </div>
		</div>
	</div>
{% endblock %}


{% block diffrence_way %}
	<!-- Call to action -->
	<div class="pb-9 pt-7">
		<div class="container">
			<div class="py-6 position-relative text-white rounded-3">
				<img src="{% static 'assets/img/bg/bg10.jpg' %}" class="position-absolute z-n1 top-0 h-100 w-100 object-fit-cover rounded-3" loading="lazy" alt="Meeting">

			   	<div class="position-absolute z-n1 top-0 h-100 w-100 bg-dark rounded-3"
			        style="opacity: 0.85; mix-blend-mode: multiply; filter: contrast(1.15) brightness(0.85);">
			    </div>

				<div class="px-6">
					<div class="mx-auto max-w-2xl">
						<h2 class="m-0 tracking-tight text-4xl fw-bold text-center">
							Reclaim Your Time. Experience Fresh.
						</h2>
						<p class="m-0 mt-4 text-lg leading-8 text-center">
							Let us handle your laundry, so you can focus on what matters.
						</p>
						<div class="mt-4 pt-3 text-center">
							<a href="javascript:;" class="btn btn-lg btn-primary text-white text-sm fw-semibold" data-bs-toggle="modal" data-bs-target="#pickupModal">
    							Schedule Your Pickup
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="modal fade" id="pickupModal" tabindex="-1" aria-labelledby="pickupModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="pickupModalLabel">Schedule Your Pickup</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
      		<div class="modal-body">
				{% if form.errors %}
  				<div class="alert alert-danger">
    				Please correct the errors in the form.
  				</div>
				{% endif %}

        		<form method="post" action="{% url 'services' %}">
    				{% csrf_token %}

    				<div class="mb-3">
        				<label for="name" class="form-label">Full Name</label>
        				<input type="text" name="name" class="form-control" placeholder="e.g., Maryam Tavakoli">
    				</div>

    				<div class="mb-3">
        				<label for="date" class="form-label">Pickup Date</label>
        				<input type="date" name="date" class="form-control">
        				<small class="text-muted">Format: YYYY-MM-DD</small>
    				</div>

    				<div class="mb-3">
        				<label for="time" class="form-label">Pickup Time</label>
        				<input type="time" name="time" class="form-control">
        				<small class="text-muted">Format: HH:MM (e.g., 14:30)</small>
    				</div>

					<div class="mb-3">
        				<label for="email" class="form-label">Email Address</label>
        				<input type="email" name="email" class="form-control" placeholder="e.g., maryam@example.com">
    				</div>

					<div class="mb-3">
    					<label for="phone_number" class="form-label">Phone Number</label>
    					<input type="tel" name="phone_number" class="form-control" placeholder="e.g., +1 234 567 8901">
					</div>


  					<button type="submit" name="schedule_submit" class="btn btn-primary">Submit</button>
				</form>

      		</div>
    		</div>
  		</div>
	</div>
{% endblock %}